streamlit==1.36.0

torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1

torch-geometric==2.6.1

numpy==1.26.4
pandas==2.2.2

scikit-learn==1.4.2

rdkit==2023.9.6

pubchempy==1.0.4

py3Dmol==2.0.4

joblib==1.4.2

pillow==10.4.0

stmol==0.0.9

requests==2.32.3
